img {
    width: 25px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.nav {
    background-color: rgb(72, 72, 214)
}

.header {
    display: grid;
    grid-template-columns: .1fr 5fr 1fr 1fr 2fr;
    align-items: center;
}

#searchbar{
    width: 80%;
}

#profilePic {
    border-radius: 50%;
    height: 60px;
    width: 50px;
}

.intro {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    border-bottom: grey 3px solid;
}
/*Need to resize buttons so intro size can downsize*/
.button{
    height: 50px;
}
#githubIntro {
    width: 100px;
}

.content {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 5px;
    background-color: lightgrey;
}

.tiles {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 15px;
}

.project {
    border-left: yellow 10px solid;
    border-top: black 1px solid;
    border-right: black 1px solid;
    border-bottom: black 1px solid;
    border-radius: 25px;
    background-color: white;
}

.social {
    display: grid;
    grid-template-rows: .5fr 1fr;
}

.currann {
    border: black 1px solid;
    border-radius: 25px;
    background-color: white;
}
.notice {
    border-bottom: grey 1px solid;
}

.trendcont {
    border: black 1px solid;
    background-color: white;
    border-radius: 25px;
}

.socialLink {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto auto auto;
    align-items: center;
    margin-left: 25px;
}
